<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v5.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Contribute to the directory
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v5/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v5/community-join">Join the community</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v5/community-share">Contribute to the directory</a></li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
  {% include "includes/prototype-banner.html" %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- Change the page title here -->
      <div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h1 class="nhsuk-card__heading">
      Your contribution has been sent
    </h1>
    <p class="nhsuk-card__description"></p>
  </div>
</div>


      <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


              <p class="govuk-body">We have sent you a confirmation email.</p>

              <h2 class="govuk-heading-m">What happens next</h2>

              <p class="govuk-body">
                We’ve sent your contribution to the Standards directory working group.
              </p>
              <p class="govuk-body">
                They will review your contribution and may contact you for more information.
              </p>

              <p class="govuk-body">
                <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
              </p>
            </div>
          </div>
        </main>
      </div>

    </div>
  </div>











{% endblock %}
