<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v5.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Contribution guidance
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v5/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item">How you can improve standards</li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
  {% include "includes/prototype-banner.html" %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

    </div>
  </div>
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>How you can improve standards</h1>



      <p>The standards community platform is designed to help bring people together to solve issues around standards development, implementation and adoption.</p>

  <p>It is open to anyone who uses, develops, commissions, owns or assures standards, services and APIs relating to interoperable technology in health and social care.
</p>

<h2>Get involved with the community</h2>

<h3>Discussions forum on GitHub</h3>
<p>In the discussions forum, you can: </p>
<ul class="nhsuk-list-bullet">
  <li>read and comment on discussions on use cases, standards implementation and local specifications</li>
  <li>post a question or share your own experience in a new discussion</li>
</ul>
<p><a href="https://github.com/Marvell-Consulting/standards-community-platform-for-health-and-social-care/discussions">Go to the discussions forum on GitHub (opens in new window)</a></p>

<figure class="nhsuk-image">
  <img class="nhsuk-image__img" src="/images/github-discussions.png" alt="GitHub discussions">
  <figcaption class="nhsuk-image__caption">
    GitHub discussions forum
  </figcaption>
</figure>


<h3>Standards community development backlog on GitHub
</h3>
<p>In the standards community development backlog, you can:</p>
<ul class="nhsuk-list-bullet">
  <li>read and comment on community proposals for new standards</li>
  <li>read and comment on community proposals for extensions or changes to existing standards</li>
<li>submit your own proposal for standards development</li>
<li>suggest a feature or enhancement to the standards directory</li>
<li>report a bug or problem with the standards directory</li>
</ul>
<p><a href="https://github.com/nhsuk/nhsuk-service-manual-community-backlog/projects/1">Go to the standards community development backlog on GitHub (opens in new window)</a></p>

<figure class="nhsuk-image">
  <img class="nhsuk-image__img" src="/images/github-backlog.png" alt="GitHub discussions">
  <figcaption class="nhsuk-image__caption">
    GitHub standards community development backlog
  </figcaption>
</figure>

<h2>How the community platform works</h2>
<p>The platform is hosted on GitHub, an open source platform designed for collaboration.</p>
<p>You will need a <a href="https://github.com/">public GitHub account</a> if you want to comment, start a discussion or make a contribution to the standards
  community development backlog.</p>
<p>You do not need to create a GitHub account to browse and search.</p>

<h2>Support</h2>
<p>The standards directory team moderate the standards community development backlog and the discussions forum.</p>
<p><a href="#">Email the standards directory team</a></p>


<br>

{% include "includes/was-this-page-useful.html" %}

    </div>
  </div>

{% endblock %}
