<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v5.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Browse types of standard
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
  {% include "includes/prototype-banner.html" %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <!-- Change the page title here -->
      <h1>
        Browse types of standard
      </h1>

      <span class="nhsuk-u-font-size-22"><strong>Information standards</strong></span>&ensp;
      <span class="nhsuk-u-font-size-22"><a href="#">Terminologies and codes</a></span>&ensp;
      <span class="nhsuk-u-font-size-22"><a href="#">Technical specifications</a></span>&ensp;
      <span class="nhsuk-u-font-size-22"><a href="#">Services and tools</a></span>
      <br>
      <br>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      <h2 class="nhsuk-heading-m">Filters</h2>
      <h3 class="nhsuk-heading-s">Search</h3>
      <p>sdaklfndsal</p>
      <h3 class="nhsuk-heading-s">Care settings</h3>
      <ul class="nhsuk-list-bullet">
        <li>dnasfkds</li>
        <li>dnasfkds</li>
        <li>dnasfkds</li>
      </ul>

    </div>
    <div class="nhsuk-grid-column-three-quarters">
      <ul class="nhsuk-list table-list">
        <li><a href="#">E-discharge</a></li>
        <li><a href="#">Emergency care discharge</a></li>
        <li><a href="#">Mental health inpatient discharge</a></li>
        <li><a href="#">Outpatient letters</a></li>
        <li><a href="#">Clinical referral standard</a></li>
        <li><a href="#">Digital care and support plan</a></li>
        <li><a href="#">About Me information standard </a></li>
        <li><a href="#">Ambulance handover </a></li>
        <li><a href="#">Care homes view of shared care records</a></li>
        <li><a href="#">Community Pharmacy Standard</a></li>
        <li><a href="#">Core information standard</a></li>
        <li><a href="#">Crisis care standard</a></li>
        <li><a href="#">Digital mediciation information assurance</a></li>
        <li><a href="#">Document Naming Standard</a></li>
        <li><a href="#">Healthy Child Record</a></li>
        <li><a href="#">Hospital Referral for assessment for community care and support</a></li>
        <li><a href="#">Information Provided by local authroities in shared care records</a></li>
        <li><a href="#">Maternity record  standard</a></li>
        <li><a href="#">Social Care Assessments (ADW</a>)</li>
        <li><a href="#">Urgent referral from care home to hospital</a></li>
      </ul>
    </div>
  </div>

  <style>


  </style>
{% endblock %}
