<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-home-v5.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Join up IT systems in health and social care
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    </div>
  </div>
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h2 class="nhsuk-u-font-size-24 nhsuk-u-font-weight-bold">Access the directory</h2>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="browse-all">View all standard listings</a></span>
          <p class="nhsuk-u-font-size-16">.</p>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="community-roadmap">View a roadmap of standards development</a></span>
          <p class="nhsuk-u-font-size-16"></p>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <!-- <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="browse-use-cases">Common use cases</a></span>
          <p class="nhsuk-u-font-size-16">Find resources for common needs</p>
        </div>
      </div> -->
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2 class="nhsuk-u-font-size-24 nhsuk-u-font-weight-bold">Help with using standards</h2>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="what">Interoperability guidance</a></span>
          <p class="nhsuk-u-font-size-16">How to use standards</p>
        </div>
      </div>
    </div>
    <!-- <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="get-started-business">Get started</a></span>
          <p class="nhsuk-u-font-size-16">Managing interoperability programmes</p>
        </div>
      </div>
    </div> -->
    <!-- <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="get-started-technology">Get started: technical</a></span>
          <p class="nhsuk-u-font-size-16">Using standards and integrating with other systems</p>
        </div>
      </div>
    </div> -->
    <!-- <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="browse-case-studies">Case studies</a></span>
          <p class="nhsuk-u-font-size-16">Tools and approaches used by others </p>
        </div>
      </div>
    </div> -->
  </div>
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h2 class="nhsuk-u-font-size-24 nhsuk-u-font-weight-bold">Community and contributions</h2>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="community-contribution">Read contribution guidance</a></span>
          <p class="nhsuk-u-font-size-16"></p>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="#">Access to community platform</a></span>
          <p class="nhsuk-u-font-size-16"></p>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="#">Sharing/asking for help on use cases</a></span>
          <p class="nhsuk-u-font-size-16"></p>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="#">Submit local specification</a></span>
          <p class="nhsuk-u-font-size-16"></p>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="#">Raise issue in backlog about gap or amend</a></span>
          <p class="nhsuk-u-font-size-16"></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
