<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v5.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Join up IT systems in health and social care
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v5/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v5/browse-sections">Browse directory</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v5/browse-information">Content standards</a></li>
      <li class="nhsuk-breadcrumb__item">Mental health inpatient discharge</li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
  {% include "includes/prototype-banner.html" %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <span class="nhsuk-caption-l">
        <span class="taxonomy-tag blue">Live</span> Technical standard
      </span>
      <h1>
        Mental health inpatient discharge - FHIR
      </h1>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <p>Approved specification for exchanging information about an adult transferring from mental health to GP services. </p>

      <table class="nhsuk-table ">
        <tbody class="nhsuk-table__body ">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Owner</td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-16">NHS Digital</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Reference</td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-16"><span class="secondary-text">Not available</span></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Status</td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-16"><span class="taxonomy-tag blue">Live</span></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Category</td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-16">Technical standard</td>
          </tr>
          <!-- </tbody>
          </table>
          <h2 class="nhsuk-heading-s">Latest version (2.1) </h2>
          <table class="nhsuk-table ">
            <tbody class="nhsuk-table__body "> -->
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Version</td>
                <td class="nhsuk-table__cell nhsuk-u-font-size-16">2.8.0 (latest version)</td>
              </tr>
              <tr role="row" class="nhsuk-table__row">

            <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Standard last updated</td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-16">
              <span class="secondary-text">Not available</span>
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Care settings</td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-16">
              <ul class="nhsuk-list-bullet nhsuk-u-font-size-16">
                <li>GP practices</li>
                <li>social care</li>
                <li>hospital trust</li>
                <li>mental health</li>
              </ul>
            </td>
          </tr>
          <!-- <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Topic</td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-16">
              <ul class="nhsuk-list-bullet nhsuk-u-font-size-16">
                <li>Continuity of care</li>
                <li>Access to records</li>
              </ul>
            </td>
          </tr> -->
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Compliance</td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-16">
              Required
              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text nhsuk-u-font-size-16">
                    Show basis for requirement
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <p class=" nhsuk-u-font-size-16">This standard must be used in relevant products and services being sold through health and social care procurement frameworks and is required to meet the <a href="#">Digital Technology Assessment Criteria</a>.
                  </p>
                </div>
              </details>
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Endorsed by</td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-16">
              <span class="secondary-text">Not available</span>
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Standard</td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-16">
              <a href="#">View standard on NHS Digitals’s website</a>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Documentation</td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-16">
              <ul class="nhsuk-list-bullet  nhsuk-u-font-size-16">
                <li><a href="https://theprsb.org/wp-content/uploads/2021/02/Mental-health-inpatient-discharge-summary-v2.1-01.02.21.xlsx" >View documentation on NHS Digital's website</a></li>
              </ul>
            </td>
            <!-- <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Technical specifications</td>
              <td class="nhsuk-table__cell nhsuk-u-font-size-16">
                <ul class="nhsuk-list-bullet  nhsuk-u-font-size-16">
                </ul>
              </td>
            </tr> -->
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Dependencies</td>
              <td class="nhsuk-table__cell nhsuk-u-font-size-16">
                This standard requires use of:
                <ul class="nhsuk-list-bullet  nhsuk-u-font-size-16">
                  <li><a href="https://developer.nhs.uk/apis/dose-syntax-implementation/">Mental health inpatient discharge</a> <span class="secondary-text">Content standard</span></li>
                  <li><a href="https://developer.nhs.uk/apis/dose-syntax-implementation/">Dose Syntax Implementation</a> <span class="secondary-text">Technical specification</span></li>
                  <li><a href="standard-service">Organisation data service (ODS)</a> <span class="secondary-text">Service</span></li>
                  <li><a href="standard-service">NHS data dictionary</a> <span class="secondary-text">Service</span></li>
                  <li><a href="standard-service">Patient administration service (PAS)</a> <span class="secondary-text">Service</span></li>
                </ul>
                It is also recommended to use:
                <ul class="nhsuk-list-bullet  nhsuk-u-font-size-16">
                  <li><a href="standard-snomed">SNOMED clinical terminologies</a> <span class="secondary-text">Content standard</span></li>
                  <li><a href="standard-snomed">Dictionary of Medicines and Devices</a> <span class="secondary-text">Content standard</span></li>
                  <li><a href="standard-service">NHS Number</a> <span class="secondary-text">Service</span></li>
                  <li><a href="standard-service">Patient Demographics service (PDS)</a> <span class="secondary-text">Service</span></li>
                  <li><a href="standard-service">SPINE Directory service</a> <span class="secondary-text">Service</span></li>
                  <li><a href="https://developer.nhs.uk/apis/dose-syntax-implementation/">Spine Directory Service - LDAP API</a> <span class="secondary-text">Technical specification</span></li>
                </ul>
              </td>



            </tr>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Next review</td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-16">2 April 2022</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Contact</td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-16"><a href="mailto:support@prsb.co.uk">support@nhs-digital.co.uk</a></td>
          </tr>
        </tbody>
      </table>


      <!-- <h2 class="nhsuk-heading-l">Previous versions</h2>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Version – V2.0 (Published July 2018)
          </span>
        </summary>
        <div class="nhsuk-details__text">

          <table class="nhsuk-table ">
            <tbody class="nhsuk-table__body ">
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Status</td>
                <td class="nhsuk-table__cell nhsuk-u-font-size-16"><span class="taxonomy-tag blue">Active</span></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Compliance</td>
                <td class="nhsuk-table__cell nhsuk-u-font-size-16">No longer required</td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Version</td>
                <td class="nhsuk-table__cell nhsuk-u-font-size-16">v2.0</td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Date published</td>
                <td class="nhsuk-table__cell nhsuk-u-font-size-16">
                  12 July 2018
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Date superseded</td>
                <td class="nhsuk-table__cell nhsuk-u-font-size-16">
                  14 April 2020
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Link to standard</td>
                <td class="nhsuk-table__cell nhsuk-u-font-size-16">
                  <a href="#">View Version – V2.0 on PRSB's website</a>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </details>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Version – V1.0 (Published April 2018)
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <table class="nhsuk-table ">
            <tbody class="nhsuk-table__body ">
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Status</td>
                <td class="nhsuk-table__cell nhsuk-u-font-size-16"><span class="taxonomy-tag">Retired</span></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Compliance</td>
                <td class="nhsuk-table__cell nhsuk-u-font-size-16">No longer required</td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Version</td>
                <td class="nhsuk-table__cell nhsuk-u-font-size-16">v2.0</td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Date published</td>
                <td class="nhsuk-table__cell nhsuk-u-font-size-16">
                  12 April 2018
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Date superseded</td>
                <td class="nhsuk-table__cell nhsuk-u-font-size-16">
                  12 July 2018
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell nhsuk-u-font-size-16 font-bold">Link to standard</td>
                <td class="nhsuk-table__cell nhsuk-u-font-size-16">
                  <a href="#">View Version – V1.0 on PRSB's website</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details> -->

    </div>

    <div class="nhsuk-grid-column-one-third">
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary ">
          <span class="nhsuk-details__summary-text nhsuk-u-font-size-16">
            Get updates for this standard
          </span>
        </summary>
        <div class="nhsuk-details__text  nhsuk-u-font-size-16" >
          <p class="nhsuk-u-font-size-16">Enter you email to get notified when this standard gets updated</p>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-font-size-16" for="example">
             <strong>Email address</strong>
            </label>
            <input class="nhsuk-input" id="example" name="example" type="text">
          </div>
          <button class="nhsuk-button">Submit</button>
        </div>
      </details>
      {% include "includes/was-this-page-useful.html" %}
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


    </div>
  </div>


{% endblock %}
