<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v5.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
 Building for interoperability
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v5/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item">How standards work</li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
  {% include "includes/prototype-banner.html" %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
       How standards work
      </h1>
      <h2>Who needs to use data standards</h2>
      <p>Anyone building or buying digital technologies for the NHS or local authority-funded social care settings need to ensure relevant data standards are used where they exist. These technologies include:
</p>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>electronic health records</li>
<li>diagnostic and treatment recommendation tools</li>
<li>referral management solutions</li>
<li>clinical data collection and research tools</li>
<li>patient portals and platforms</li>
<li>digital staff rosters and other administrative systems</li>
      </ul>

<p>Data standards may not exist for every circumstance, which is why interoperability relies on communities sharing new standards and APIs to <a href="#">help further standards development</a>.
</p>

<h2>How are standards developed</h2>
<p>[Add guidance]</p>

<h2>Correct use of data standards</h2>
<h3>Follow Information Standard Notices</h3>
<p>The government mandates standards adoption in some areas in <a href="#">Information Standard Notices</a> which are
  issued whenever a new standard needs to be implemented. For example, the NHS Number must be used by all
  health and social care providers, partner organisations and system suppliers when recording information about
  a specific person.</p>

  <h3>Connect to required national services</h3>
  <p>[Add guidance]</p>

  <h3>Browse services</h3>

<p>You’ll need to use NHS Spine you may also want to plug into national services that give access to central datasets as well as use resources such as NHS Email and Wifi.</p>

<p>Information Standards Notices also specify content and
technical standards in certain clinical areas, for example pathology. If these apply to you, you must follow them.
There are still gaps however and clinical areas with low standards maturity may find the standards they need do not
exist or only partially exist.</p>

<p>If Information Standard Notices don’t exist, adopt and feedback on relevant standards for your area, or create new ones.</p>

  <p>[Add guidance]</p>

<h3>Follow national cyber security and data protection rules</h3>

  <p>[Add guidance]</p>

<p>They’d also need to meet minimum requirements for cyber security and data protection as detailed in <a href="#">the Data Security and Protection Toolkit</a>.</p>
<h2>Links to guidance</h2>
<p>There’s guidance on procuring and implementing interoperable solutions in <a href="#">NHS England’s interoperability handbook</a>. </p>




      {% include "includes/was-this-page-useful.html" %}

    </div>
  </div>

{% endblock %}
