<p class="nhsuk-u-font-size-16" style="text-align: right"><a href="#">Open all</a></p>
<div class="nhsuk-expander-group">
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Care setting
      </span>
    </summary>
    <div class="">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <div role="group" aria-labelledby="holding-label" id="holding-options">
          <!-- <div role="group" aria-labelledby="holding-label" class="options-container options-container--hod" id="holding-options"> -->
            <!-- <div class="js-auto-height-inner"> -->
              <div class="nhsuk-checkboxes nhsuk-checkboxes--small nhsuk-checkboxes--conditional">

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Community" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                    Community health
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-2" name="setting" type="checkbox" value="Dentistry" aria-controls="conditional-contact-2" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-2">
                    Dentistry
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-3" name="setting" type="checkbox" value="Hospital" aria-controls="conditional-contact-3" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-3">
                    Hospital
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-5" name="setting" type="checkbox" value="Inpatient" aria-controls="conditional-contact-5" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-5">
                    Inpatient
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-6" name="setting" type="checkbox" value="Outpatient" aria-controls="conditional-contact-6" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-6">
                    Outpatient
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-7" name="setting" type="checkbox" value="Maternity" aria-controls="conditional-contact-7" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-7">
                    Maternity
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-8" name="setting" type="checkbox" value="Mental" aria-controls="conditional-contact-8" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-8">
                    Mental health
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-9" name="setting" type="checkbox" value="Patient" aria-controls="conditional-contact-9" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-9">
                    Patient
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-10" name="setting" type="checkbox" value="Pharmacy" aria-controls="conditional-contact-10" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-10">
                    Pharmacy
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="GP" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                    GP / Primary Care
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Transport" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                    Transport / Infrastructure
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Social" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                    Social care
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Urgent" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                    Urgent And Emergency Care
                  </label>
                </div>


              </div>
            <!-- </div>  -->
          </div>
        </fieldset>

      </div>
    </div>
  </details>
  <!--  -->
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Topic
      </span>
    </summary>
    <div class="">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <div role="group" aria-labelledby="holding-label" id="holding-options">
              <div class="nhsuk-checkboxes nhsuk-checkboxes--small nhsuk-checkboxes--conditional">

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Community" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                    Appointments
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-2" name="setting" type="checkbox" value="Dentistry" aria-controls="conditional-contact-2" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-2">
                    Referrals
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-3" name="setting" type="checkbox" value="Hospital" aria-controls="conditional-contact-3" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-3">
                    Access to records
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-5" name="setting" type="checkbox" value="Inpatient" aria-controls="conditional-contact-5" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-5">
                    Clinical decision support
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-6" name="setting" type="checkbox" value="Outpatient" aria-controls="conditional-contact-6" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-6">
                    Continuity of care
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-7" name="setting" type="checkbox" value="Maternity" aria-controls="conditional-contact-7" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-7">
                    Demographics
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-8" name="setting" type="checkbox" value="Mental" aria-controls="conditional-contact-8" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-8">
                    Key care information
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-9" name="setting" type="checkbox" value="Patient" aria-controls="conditional-contact-9" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-9">
                    Prescribing
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-10" name="setting" type="checkbox" value="Pharmacy" aria-controls="conditional-contact-10" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-10">
                    Dispensing
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="GP" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                    Vaccination
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Transport" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                    Messaging
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Social" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                    Patient communication
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Urgent" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                    Reference data
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Urgent" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                    Information governance
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Urgent" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                    Security
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Urgent" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                    Test and diagnostics
                  </label>
                </div>


              </div>
          </div>
        </fieldset>

      </div>
    </div>
  </details>
  <!--  -->
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Type
      </span>
    </summary>
    <div class="">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <div role="group" aria-labelledby="holding-label" id="holding-options">
              <div class="nhsuk-checkboxes nhsuk-checkboxes--small nhsuk-checkboxes--conditional">

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Community" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                    Technical specifications and APIs
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-2" name="setting" type="checkbox" value="Dentistry" aria-controls="conditional-contact-2" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-2">
                    Clinical and care record standards
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-3" name="setting" type="checkbox" value="Hospital" aria-controls="conditional-contact-3" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-3">
                    Medical and data dictionaries
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-5" name="setting" type="checkbox" value="Inpatient" aria-controls="conditional-contact-5" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-5">
                    Data protection and governance
                  </label>
                </div>

              </div>
          </div>
        </fieldset>

      </div>
    </div>
  </details>
<!-- closing expander tag -->
</div>
