
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Type
      </span>
    </summary>
    <div class="">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <div role="group" aria-labelledby="holding-label" id="holding-options">
              <div class="nhsuk-checkboxes nhsuk-checkboxes--small nhsuk-checkboxes--conditional">

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="standard-1" name="setting" type="checkbox" value="Technical" aria-controls="conditional-standard-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="standard-1">
                    Technical specifications and APIs
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="standard-2" name="setting" type="checkbox" value="Clinical" aria-controls="conditional-standard-2" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="standard-2">
                    Clinical and care record standards
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="standard-3" name="setting" type="checkbox" value="Medical" aria-controls="conditional-standard-3" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="standard-3">
                    Medical and data dictionaries
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="standard-4" name="setting" type="checkbox" value="Data" aria-controls="conditional-standard-4" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="standard-4">
                    Data protection and governance
                  </label>
                </div>

              </div>
          </div>
        </fieldset>

      </div>
    </div>
  </details>
