
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Type
      </span>
    </summary>
    <div class="">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <div role="group" aria-labelledby="holding-label" id="holding-options">
              <div class="nhsuk-checkboxes nhsuk-checkboxes--small nhsuk-checkboxes--conditional">

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Community" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                    Technical specifications and APIs
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-2" name="setting" type="checkbox" value="Dentistry" aria-controls="conditional-contact-2" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-2">
                    Clinical and care record standards
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-3" name="setting" type="checkbox" value="Hospital" aria-controls="conditional-contact-3" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-3">
                    Medical and data dictionaries
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-5" name="setting" type="checkbox" value="Inpatient" aria-controls="conditional-contact-5" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-5">
                    Data protection and governance
                  </label>
                </div>

              </div>
          </div>
        </fieldset>

      </div>
    </div>
  </details>
