<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Resource type
    </span>
  </summary>
  <div class="">
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
        <br>
        <div role="group" aria-labelledby="holding-label" class="options-container options-container--hod" id="holding-options">
          <div class="js-auto-height-inner">
            <div class="nhsuk-checkboxes nhsuk-checkboxes--small nhsuk-checkboxes--conditional">
          
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Community" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Content standards
                </label>
              </div>
              <!-- <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-2" name="setting" type="checkbox" value="Dentistry" aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
                  Terminology standards
                </label>
              </div> -->
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-2" name="setting" type="checkbox" value="Dentistry" aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
                  Technical standards
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-2" name="setting" type="checkbox" value="Dentistry" aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
                  Services
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-2" name="setting" type="checkbox" value="Dentistry" aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
                  Use cases
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-2" name="setting" type="checkbox" value="Dentistry" aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
                  Guidance
                </label>
              </div>
        
            </div>
          </div>
        </div>
      </fieldset>
    
    </div>
  </div>
</details>
<hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
