<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Care setting
    </span>
  </summary>
  <div class="">
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
        <br>
        <div role="group" aria-labelledby="holding-label" class="options-container options-container--hod" id="holding-options">
          <div class="js-auto-height-inner">
            <div class="nhsuk-checkboxes nhsuk-checkboxes--small nhsuk-checkboxes--conditional">

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Community" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                  Community health
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-2" name="setting" type="checkbox" value="Dentistry" aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-2">
                  Dentistry
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-3" name="setting" type="checkbox" value="Hospital" aria-controls="conditional-contact-3" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-3">
                  Hospital
                </label>
              </div>

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-5" name="setting" type="checkbox" value="Inpatient" aria-controls="conditional-contact-5" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-5">
                  Inpatient
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-6" name="setting" type="checkbox" value="Outpatient" aria-controls="conditional-contact-6" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-6">
                  Outpatient
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-7" name="setting" type="checkbox" value="Maternity" aria-controls="conditional-contact-7" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-7">
                  Maternity
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-8" name="setting" type="checkbox" value="Mental" aria-controls="conditional-contact-8" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-8">
                  Mental health
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-9" name="setting" type="checkbox" value="Patient" aria-controls="conditional-contact-9" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-9">
                  Patient
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-10" name="setting" type="checkbox" value="Pharmacy" aria-controls="conditional-contact-10" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-10">
                  Pharmacy
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="GP" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                  GP / Primary Care
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Transport" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                  Transport / Infrastructure
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Social" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                  Social care
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Urgent" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                  Urgent And Emergency Care
                </label>
              </div>


            </div>
          </div>
        </div>
      </fieldset>

    </div>
  </div>
</details>
<hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
