<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Status
    </span>
  </summary>
  <div class="">
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
        <br>
        <div class="nhsuk-checkboxes nhsuk-checkboxes--small">
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
              Draft
            </label>
          </div>
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
              Active
            </label>
          </div>
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
              Retired
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</details>
<hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">