<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-third">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation">
              Community health
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-2">
              Maternity
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-3">
              Pharmacy
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-4">
              Social care
            </label>
          </div>
        </div>
      </fieldset>
    </div>

  </div>
  <!-- end one-third 1 -->
  <div class="nhsuk-grid-column-one-third">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation">
              Dentistry
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-2">
              Mental health
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-3">
              GP / Primary care
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-4">
              Urgent and emergency care
            </label>
          </div>
        </div>
      </fieldset>
    </div>

  </div>

  <!-- end one-third 2 -->
  <div class="nhsuk-grid-column-one-third">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation">
              Hospital
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-2">
              Patient
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="organisation-3">
              Transport / Infrastructure
            </label>
          </div>

        </div>
      </fieldset>
    </div>

  </div>
  <!-- end one-third 3 -->
</div>
<!-- end grid row -->
