
<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Programme
    </span>
  </summary>
  <div class="">
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
        <br>

        <div role="group" aria-labelledby="holding-label" class="options-container options-container--hod" id="holding-options">
          <div class="js-auto-height-inner">
            <div class="nhsuk-checkboxes  nhsuk-checkboxes--small">

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Maternity and Child Health (including neonatal)
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Transfers of Care
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Integrated Care
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Urgent and Emergency Care Transformation 
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  BRAM (Bookings, Referrals and Appointments Management)
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Electronic Referrals System (e-RS) APIs.  Supplier 
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Conformance Catalogue.
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  NHS Digital Standards and Interoperability Roadmap.
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Anesthetic chart standard
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Pharmacogenomics/ genomics futures
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Medicines Integration.
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Diabetes Programme
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Standards and Interoperability in Social Care
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  OPCS-4 Replacement report
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Social Care Vendor Landscape
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Standards Catalogue
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Digital Health Technology (Apps)
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Over prescribing 
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Electronic Yellow Card Reporting
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Domiciliary care medicines management
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Prescription charts 
              </label>
            </div>
          </div>

      </fieldset>
    </div>
  </div>
</details>
<hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
