<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Technology
    </span>
  </summary>
  <div class="">
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
        <br>
        <div class="nhsuk-checkboxes nhsuk-checkboxes--small">
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
              FHIR
            </label>
          </div>
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
              REST
            </label>
          </div>
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
              SOAP
            </label>
          </div>
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
              HL7 V3
            </label>
          </div>
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
              MESH
            </label>
          </div>
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
              NEMS
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</details>
<hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">