<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-third">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="care-1" name="organisation" type="checkbox" value="Community">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-1">
              Community health
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="care-2" name="organisation" type="checkbox" value="Maternity">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-2">
              Maternity
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="care-3" name="organisation" type="checkbox" value="Pharmacy">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-3">
              Pharmacy
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="care-4" name="organisation" type="checkbox" value="Social">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-4">
              Social care
            </label>
          </div>
        </div>
      </fieldset>
    </div>

  </div>
  <!-- end one-third 1 -->
  <div class="nhsuk-grid-column-one-third">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="care-5" name="organisation" type="checkbox" value="Dentistry">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-5">
              Dentistry
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="care-6" name="organisation" type="checkbox" value="Mental-health">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-6">
              Mental health
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="care-7" name="organisation" type="checkbox" value="GP">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-7">
              GP / Primary care
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="care-8" name="organisation" type="checkbox" value="Urgent-emergency">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-8">
              Urgent and emergency care
            </label>
          </div>
        </div>
      </fieldset>
    </div>

  </div>

  <!-- end one-third 2 -->
  <div class="nhsuk-grid-column-one-third">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="care-9" name="organisation" type="checkbox" value="Hospital">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-9">
              Hospital
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="care-10" name="organisation" type="checkbox" value="Patient">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-10">
              Patient
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="care-11" name="organisation" type="checkbox" value="Transport">
            <label class="govuk-label govuk-checkboxes__label govuk-body govuk-!-font-size-16" for="care-11">
              Transport / Infrastructure
            </label>
          </div>

        </div>
      </fieldset>
    </div>

  </div>
  <!-- end one-third 3 -->
</div>
<!-- end grid row -->
