<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Regions
    </span>
  </summary>
  <div class="">
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
        <br>
        <div role="group" aria-labelledby="holding-label" class="options-container options-container--hod" id="holding-options">
          <div class="js-auto-height-inner">
            <div class="nhsuk-checkboxes nhsuk-checkboxes--small nhsuk-checkboxes--conditional">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="region" type="checkbox" value="EastofEngland" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  East of England
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="region" type="checkbox" value="London" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  London
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="region" type="checkbox" value="Midlands" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Midlands
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="region" type="checkbox" value="NorthEastandYorkshire" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  North East and Yorkshire
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="region" type="checkbox" value="NorthWest" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  North West
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="region" type="checkbox" value="SouthEast" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  South East
                </label>
              </div>
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="region" type="checkbox" value="SouthWest" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  South West
                </label>
              </div>
              
        
            </div>
          </div>
        </div>
      </fieldset>
    
    </div>
  </div>
</details>
<hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">












