<div class="nhsuk-grid-row">
<h3>Care setting</h3>
  <div class="nhsuk-grid-column-one-third">

    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
        <div role="group" aria-labelledby="holding-label" id="holding-options">

          <div class="nhsuk-checkboxes nhsuk-checkboxes--small nhsuk-checkboxes--conditional">

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Community" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                Community health
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-2" name="setting" type="checkbox" value="Dentistry" aria-controls="conditional-contact-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-2">
                Maternity
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-3" name="setting" type="checkbox" value="Hospital" aria-controls="conditional-contact-3" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-3">
                Pharmacy
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-3" name="setting" type="checkbox" value="Hospital" aria-controls="conditional-contact-3" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-3">
                Social care
              </label>
            </div>

          </div>
        </div>


      </fieldset>
    </div>

  </div>
  <!-- end one-third 1 -->
  <div class="nhsuk-grid-column-one-third">

    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
        <div role="group" aria-labelledby="holding-label" id="holding-options">

          <div class="nhsuk-checkboxes nhsuk-checkboxes--small nhsuk-checkboxes--conditional">

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Community" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                Dentistry
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-2" name="setting" type="checkbox" value="Dentistry" aria-controls="conditional-contact-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-2">
                Mental health
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-3" name="setting" type="checkbox" value="Hospital" aria-controls="conditional-contact-3" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-3">
                GP / Primary care
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-3" name="setting" type="checkbox" value="Hospital" aria-controls="conditional-contact-3" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-3">
                Urgent and emergency care
              </label>
            </div>

          </div>
        </div>


      </fieldset>
    </div>

  </div>
  <!-- end one-third 2 -->
  <div class="nhsuk-grid-column-one-third">

    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
        <div role="group" aria-labelledby="holding-label" id="holding-options">

          <div class="nhsuk-checkboxes nhsuk-checkboxes--small nhsuk-checkboxes--conditional">

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Community" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-1">
                Hospital
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-2" name="setting" type="checkbox" value="Dentistry" aria-controls="conditional-contact-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-2">
                Patient
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-3" name="setting" type="checkbox" value="Hospital" aria-controls="conditional-contact-3" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="contact-3">
                Transport / Infrastructure
              </label>
            </div>

          </div>
        </div>


      </fieldset>
    </div>

  </div>
  <!-- end one-third 3 -->
</div>
<!-- end grid row -->
