// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  }
  dt {
    float: left;
    width: 25%;
    padding: 0;
    margin: 0;
    font-weight: 700;
  }
  dd {
    float: left;
    width: 75%;
    padding: 0;
    margin: 0 0 5px 0;
  }

  .table-list li {
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid red;
  }
  .table-list li &:first-child {
    border-top: 1px solid #bfc1c3;
  }
