<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v6.html' %}
<!--
In /views/layout.html you can:
- change the header and footer
- add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
About this service
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v6/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item">About this service</li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% include "includes/prototype-banner.html" %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <!-- Change the page title here -->
    <h1>
      About this service
    </h1>
      <p>The standards directory allows you to find the information standards required for technologies in health and social care to be able to interoperate. Currently these standards are published across a number of government and external websites which can make it difficult to see what exists and is relevant to you.</p>
<p><a href="what" id="what">Find out more about the different types of information standard and interoperability</a></p>
<p>The standards directory is a signposting service only. It doesn’t include the full documentation for each standard which can be found on the standard owner’s website.</p>

        <p>This service is currently in development and is being tested and improved based on feedback. To report a problem or make a suggestion you can email the standards directory team at <a href="mailto:standards.directory@nhsx.nhs.uk">standards.directory@nhsx.nhs.uk</a>.</p>

          <h2>Who this service is for</h2>
          <p>This service is for anyone building or buying digital technologies for the NHS or local authority-funded adult social care settings. That includes IT suppliers as well as healthcare providers and technology buyers ranging from procurement teams to clinical informatics specialists and framework operators.</p>



            <h2>What standards are covered</h2>

            <p>The following information standards are listed in the directory: </p>
            <ul class="nhsuk-list-bullet">
              <li>all current approved national information standards published on the <a href="https://digital.nhs.uk/data-and-information/information-standards/information-standards-and-data-collections-including-extractions/publications-and-notifications/standards-and-collections#approved-standards-and-collections">NHS Digital website</a>. These have been assured by the <a href="https://digital.nhs.uk/data-and-information/information-standards/information-standards-and-data-collections-including-extractions/data-alliance-partnership-board">Data Alliance Partnership Board (DAPB)</a> and issued with an Information Standard Notice (ISN) which requires all health and adult social care providers to implement the standard
                </li>
              <li>API standards and specifications published in the <a href="https://digital.nhs.uk/developer/api-catalogue">NHS Digital API Catalogue</a></li>
              <li>record standards published by the <a href="https://theprsb.org/">Professional Records Standards Body (PRSB)</a></li>
            </ul>
            <p>In the future more standards are likely to be added to the directory from other sources. <a href="https://digital.nhs.uk/data-and-information/data-collections-and-data-sets/data-collections">Data collections</a> are currently excluded although these may also be added in future.</p>

<p>You can <a href="what">find out more about interoperability standards and interoperability</a> or <a href="browse-all">browse the directory</a>.</p>








            {% include "includes/was-this-page-useful.html" %}

          </div>
        </div>

        {% endblock %}
