<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v6.html' %}
<!--
In /views/layout.html you can:
- change the header and footer
- add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Roadmap
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v6/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item">View the standards development roadmap</li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% include "includes/prototype-banner.html" %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Standards development roadmap</h1>
</div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <p>This roadmap is designed to help you stay up-to-date with planned changes to information standards, services and APIs.</p>



</div>
<div class="nhsuk-grid-column-one-third">

  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text nhsuk-u-font-size-16">
        Subscribe to roadmap updates
      </span>
    </summary>
    <div class="nhsuk-details__text">

      <p class="nhsuk-u-font-size-16">Enter your email address to be notified each time this standards development roadmap is updated. You can unsubscribe at any time.</p>
      <div class="nhsuk-form-group">
        <h1 class="nhsuk-label-wrapper">
          <label class="nhsuk-label nhsuk-u-font-size-16" for="input-width-20">
            <strong>Email address</strong>
          </label>
        </h1>
        <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="example-heading" type="text">
      </div>
      <button class="nhsuk-button" type="submit">
        Subscribe
      </button>
    </div>
  </details>
  <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
<!--  -->
<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text nhsuk-u-font-size-16">
      Feedback on this page
    </span>
  </summary>
  <div class="nhsuk-details__text">

    <p class="nhsuk-u-font-size-16">To report a problem, suggest an enhancement or propose a new feature, you can:
      <ul class="nhsuk-list-bullet nhsuk-u-font-size-16">
        <li>email the standards directory team on <a href="#">standardsdirectory@nhsx.nhs.uk</a></li>
        <li>raise an issue on the <a href="https://github.com/Marvell-Consulting/standards-community-platform-for-health-and-social-care/projects/1">standards community development backlog on GitHub</a></li>
      </ul>
       </p>
  </div>
</details>
<!--  -->
  </div>

  </div>
  <br><br>
<!-- <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible"> -->

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!--TABBED CONTENT  -->
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Standards
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#past-day">
            Commissioned
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-week">
            Drafted
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-month">
            New active
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-year">
            To be deprecated
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-year">
            Deprecated
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-year">
            Retired
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="past-day">
        <h2 class="govuk-heading-l">Commissioned standards</h2>
        <p>These standards have been funded and commissioned for development by a nationally recognised standards owner.</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header nhsuk-u-font-size-16"><a href="#">Date</a></th>
              <th scope="col" class="govuk-table__header nhsuk-u-font-size-16"><a href="#">Standard name</a></th>
              <th scope="col" class="govuk-table__header nhsuk-u-font-size-16"><a href="#">Commissioned by</a></th>
              <th scope="col" class="govuk-table__header nhsuk-u-font-size-16">Further information</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell nhsuk-u-font-size-16">14 Oct 2021</td>
              <td class="govuk-table__cell nhsuk-u-font-size-16">Standard XYZ</td>
              <td class="govuk-table__cell nhsuk-u-font-size-16">PRSB</td>
              <td class="govuk-table__cell nhsuk-u-font-size-16"><a href="#">Documentation about the commissioning of Standard XYZ (opens in new window)</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell nhsuk-u-font-size-16">22 Nov 2021</td>
              <td class="govuk-table__cell nhsuk-u-font-size-16">Standard 123</td>
              <td class="govuk-table__cell nhsuk-u-font-size-16">NHS Digital</td>
              <td class="govuk-table__cell nhsuk-u-font-size-16">No documentation currently available</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell nhsuk-u-font-size-16">25 Nov 2021</td>
              <td class="govuk-table__cell nhsuk-u-font-size-16">FHIR profile GHJ</td>
              <td class="govuk-table__cell nhsuk-u-font-size-16">IOPS</td>
              <td class="govuk-table__cell nhsuk-u-font-size-16"><a href="#">View the listing for FHIR profile GHJ in the Standards Directory</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell nhsuk-u-font-size-16">22 Dec 2021</td>
              <td class="govuk-table__cell nhsuk-u-font-size-16">Standard 789</td>
              <td class="govuk-table__cell nhsuk-u-font-size-16">PRSB</td>
              <td class="govuk-table__cell nhsuk-u-font-size-16">No documentation currently available</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
        <h2 class="govuk-heading-l">Past week</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Case manager</th>
              <th scope="col" class="govuk-table__header">Cases opened</th>
              <th scope="col" class="govuk-table__header">Cases closed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">David Francis</td>
              <td class="govuk-table__cell">24</td>
              <td class="govuk-table__cell">18</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Paul Farmer</td>
              <td class="govuk-table__cell">16</td>
              <td class="govuk-table__cell">20</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rita Patel</td>
              <td class="govuk-table__cell">24</td>
              <td class="govuk-table__cell">27</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
        <h2 class="govuk-heading-l">Past month</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Case manager</th>
              <th scope="col" class="govuk-table__header">Cases opened</th>
              <th scope="col" class="govuk-table__header">Cases closed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">David Francis</td>
              <td class="govuk-table__cell">98</td>
              <td class="govuk-table__cell">95</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Paul Farmer</td>
              <td class="govuk-table__cell">122</td>
              <td class="govuk-table__cell">131</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rita Patel</td>
              <td class="govuk-table__cell">126</td>
              <td class="govuk-table__cell">142</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
        <h2 class="govuk-heading-l">Past year</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Case manager</th>
              <th scope="col" class="govuk-table__header">Cases opened</th>
              <th scope="col" class="govuk-table__header">Cases closed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">David Francis</td>
              <td class="govuk-table__cell">1380</td>
              <td class="govuk-table__cell">1472</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Paul Farmer</td>
              <td class="govuk-table__cell">1129</td>
              <td class="govuk-table__cell">1083</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rita Patel</td>
              <td class="govuk-table__cell">1539</td>
              <td class="govuk-table__cell">1265</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <!--  -->
  </div>
</div>
<!-- END TABBED CONTENT GRID ROW -->



    <!--  -->
<!-- {% include "includes/feedback-footer.html" %} -->
    <!--  -->


  </div>
</div>

{% endblock %}
