<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v6.html' %}
<!--
In /views/layout.html you can:
- change the header and footer
- add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
What are information standards
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v6/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item">What are information standards</li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% include "includes/prototype-banner.html" %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <!-- Change the page title here -->
    <h1>
      Information standards in health
    </h1>
</div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">
    <h3 class="nhsuk-heading-s">Contents</h3>
    <ul class="nhsuk-list-bullet">
      <li><a href="#what">What are information standards </a></li>
      <li><a href="#standards">Standards and interoperability</a></li>
      <li><a href="#benefits">Benefits of interoperability in health</a></li>
      <li><a href="#roadmap">The roadmap towards interoperability</a></li>
    </ul>
  </div>
  <div class="nhsuk-grid-column-two-thirds">
    <h2 id="what">What are information standards</h2>
    <p>We use the term information standard to refer to standardised ways of collecting, recording,
      and exchanging health and social care data.</p>

    <p>In this service we refer to 4 types of information standard:</p>

    <ul class="nhsuk-list-bullet">
      <li><strong>record standards</strong> define what information to collect, the purpose of the information and
        how to format and structure it to ensure consistency of meaning between people. Record standards exist for a wide range
        of scenarios, from information being transferred between hospitals and care homes to conventions around document naming.<br><br>
        <a href="browse-all">Browse the record standards</a></li>
        <br>
      <li><strong>information codes of practice and governance standards</strong> define rules for what information can be legally
          processed and how that information should be securely handled. In the health sector this includes rules around handling patient
          records, data processing agreements and cyber security standards.<br><br>
          <a href="browse-all">Browse information codes of practice and governance standards</a></li>

          <br>
      <li><strong>data definitions and terminologies</strong> define the format and types of specific data
            items in such a way that it allows them to be consistently represented. Labelling of medicines or formatting
            of names and dates of birth are examples. This category also includes
            vocabularies, reference sets and controlled lists.<br><br>
            <a href="browse-all">Browse data definitions and terminologies</a></li>

            <br>
        <li><strong>technical standards and specifications</strong> specify how information is to be made available
              technically. This includes formatting of messages, documents and API
              payloads, transport infrastructures, architecture and associated protocols, and specifying how the
              information will be authorised and routed to authenticated recipients.</li>

      </ul>
      <!--  -->
      <h2 id="standards">Standards and interoperability</h2>
      <p>One of the benefits of aligning to information standards is that over time digital
        technologies owned by different care settings will be able to see and use one another’s data in
        real-time. This is known as interoperability.</p>
        <p>Interoperability can transform whole industries. For example, we can transfer money quickly from one bank account to another
        because the banking industry uses universal standards to exchange financial information.</p>
<p>In a health context achieving interoperability allows, for example, hospital staff to see and add to someone’s GP or care records
instantly, instead of relying on emails and GP staff re-entering data into systems.</p>
<p>Interoperability is not the same as manually integrating systems that have been built to different specifications. It can take
technical teams a lot of time and money to integrate IT systems whereas it’s much faster to connect technology that’s been built
using common standards.</p>

<p>It will take time to achieve interoperability across all areas of health and social care which is why it’s easier to focus on
  achieving key data-sharing goals, such as helping everyone involved in someone’s care to be able to see their records. The term
  <strong>interoperability standards</strong> is used to refer collectively to the specific information standards required to meet these goals.
</p>
<!--  -->
<h2 id="benefits">Benefits of interoperability in health</h2>
<p>Over time, the gradual adoption of standards will allow healthcare professionals to quickly and securely have visibility of data that currently takes time for them to access. This will make care provision safer, easier and faster including by:
</p>
<ul class="nhsuk-list-bullet">
  <li>giving staff instant access to someone’s records rather than needing to wait for emails or faxes - in an emergency situation this could save someone’s life.
</li>
<li>reducing the risk of sensitive information being shared inappropriately by being able to control who can and can’t see data rather than relying on emails and other error-prone communication channels.</li>
<li>allowing staff to see detailed information about the health and wellbeing of the person they’re caring for so they can give better care.</li>
<li>reducing the risk of dangerous errors - for example, if a staff member mistypes the name of someone’s medication it could be misinterpreted by a colleague. Using standards means the name can be checked against a list of approved medications first.</li>
<li>reducing the burden on people needing to share details about their medical history every time they receive some form of care. This can be hard for everyone but especially for people with conditions that affect their memory.
</li>
<li>allowing people to be able to see their own health record so they have more visibility and ownership of their data.
</li>
  </ul>
  <p>The recent Coronavirus (COVID-19) pandemic - where we had to quickly move patients to wherever there was space to treat them - showed us how important it is to join up IT systems to make care provision easier.</p>
<!--  -->
<h2 id="roadmap">The roadmap towards interoperability</h2>
<p>Interoperability isn’t going to happen overnight. There are certain areas where interoperability is progressing faster than others.</p>
<p>NHSX and partner organisations are exploring how they can support the development and adoption of high quality standards across all areas of health and adult social care, as well as supporting the people doing this important work. The standards directory is one part of this programme of work. You can read more about the standards directory service.
</p>



            {% include "includes/was-this-page-useful.html" %}

          </div>
        </div>

        {% endblock %}
