<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v6.html' %}
<!--
In /views/layout.html you can:
- change the header and footer
- add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Information standards in health - Standards directory
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v6/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item">Information standards in health</li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% include "includes/prototype-banner.html" %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <!-- Change the page title here -->
    <h1 id="top">
      Information standards in health
    </h1>
</div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">
    <h3 class="nhsuk-heading-s">Contents</h3>
    <ul class="nhsuk-list-bullet">
      <li><a href="#what">What are information standards </a></li>
      <li><a href="#standards">Standards and interoperability</a></li>
      <li><a href="#benefits">Benefits of interoperability in health</a></li>
      <li><a href="#roadmap">The roadmap towards interoperability</a></li>
    </ul>
  </div>
  <div class="nhsuk-grid-column-two-thirds">
    <h2 id="what">What are information standards</h2>
    <p>We use the term information standard to refer to standardised ways of collecting, recording,
      and exchanging health and social care data.</p>

    <p>In this service we refer to 4 types of information standard:</p>

    <ul class="nhsuk-list-bullet">
      <li><strong>record standards</strong> define what information to collect, the purpose of the information and how to format it for consistency of meaning - for example creating a standardised way to register a new patient.<br><br>
        <a href="browse-all">Browse record standards</a></li>
        <br>
      <li><strong>information codes of practice and governance standards</strong> ddefine rules for what information can be legally processed and how that information should be securely handled.<br><br>
          <a href="browse-all">Browse information codes of practice and governance standards</a></li>

          <br>
      <li><strong>data definitions and terminologies</strong> define the format of specific data items in ways that allow them to be consistently represented. Labelling of medicines or formatting of dates of birth are examples. This category also includes reference sets and controlled lists.
<br><br>
            <a href="browse-all">Browse data definitions and terminologies</a></li>

            <br>
        <li><strong>technical standards and specifications</strong> specify how information is to be made available technically. This includes how the data is structured and transported, its architecture and associated protocols.
<br><br>
<a href="browse-all">Browse technical standards and specifications</a></li>

      </ul>
      <p>Not every information standard is listed in this service. You can <a href="about">find out more about which standards are included</a>.</p>
<p><a href="#top">Back to the top</a></p>
      <!--  -->
      <h2 id="standards">Standards and interoperability</h2>
      <p>One benefit of using information standards is that it allows technologies owned by different care settings to see and use one another’s data in real-time. This is known as interoperability.</p>
      <p>Interoperability can transform whole industries. We can move money quickly between banks because the banking industry uses universal standards to exchange financial information.</p>
      <p>In a health context it can allow, for example, hospital staff to see and add to someone’s GP records instantly instead of relying on staff re-entering data into systems.</p>
      <p>Interoperability is not the same as manually integrating systems that have been built to different specifications, which can be time-consuming, expensive and doesn’t work on a national scale.</p>
<h3>Interoperability standards</h3>
<p>It will take time to achieve interoperability which is why some parts of the health sector are focussed on achieving specific data-sharing goals. For example, programmes such as Transfer of Care have been created to help standardise and share discharge information for people leaving hospitals.</p>
<p>The term interoperability standards is sometimes used to refer to all the different standards that need to be used together to achieve these goals.
</p>
<p><a href="#top">Back to the top</a></p>
<!--  -->
<h2 id="benefits">Benefits of interoperability in health</h2>
<p>Over time, interoperability will make care provision faster and safer. This includes by:</p>
<ul class="nhsuk-list-bullet">
  <li>giving staff instant access to records so they don’t need to wait for emails or faxes - in an emergency this could save someone’s life</li>
<li>reducing the risk of information being shared inappropriately by being able to control digitally who can see it</li>
<li>allowing staff to more easily see people’s medical histories so they can give better care</li>
<li>reducing the risk of dangerous errors - for example, the mistyped name of a medication could be misinterpreted. Using standards means the name can be checked against a list of approved medications first</li>
<li>reducing the burden on people needing to share their medical histories every time they receive care - this can be hard for everyone but especially for people with conditions that affect their memory</li>
<li>allowing people to see their own health records giving them more visibility and ownership of their data</li>
  </ul>
  <p>The recent coronavirus pandemic - where we had to quickly move patients to wherever there was space to treat them - showed us how important it is to join up IT systems to make care provision easier.</p>
<p><a href="#top">Back to the top</a></p>
<!--  -->
<h2 id="roadmap">The roadmap towards interoperability</h2>
<p>Interoperability isn’t going to happen overnight. There are certain areas where standardisation and standards adoption is progressing faster than others.</p>
<p>You can check which new standards have been proposed or are in development in the <a href="community-roadmap">standards development roadmap</a>. You can also <a href="about">find out more about this service</a>.
</p>
<p><a href="#top">Back to the top</a></p>


            {% include "includes/was-this-page-useful.html" %}

          </div>
        </div>

        {% endblock %}
