<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Get started: technology
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v2/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item">Get started: technology</li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
  {% include "includes/prototype-banner.html" %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Get started: technology 
      </h1>
      <p>
        <!-- Supporting real-time information-sharing across care settings . Find out more about how to manage in -->
      </p>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <h3 class="nhsuk-heading-s">Contents</h3>
      <ul class="nhsuk-list-bullet">
        <li>
          <a href="#types">Overview </a>
        </li>
        <li>
          <a href="#types">Common challenges</a>
        </li>
      </ul>
    </div>
    <div class="nhsuk-grid-column-two-thirds">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sunt voluptates! Id non quam iusto maxime, repudiandae voluptatum incidunt hic qui unde earum placeat! Eos dolore quaerat ex aliquid facere!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sunt voluptates! Id non quam iusto maxime, repudiandae voluptatum incidunt hic qui unde earum placeat! Eos dolore quaerat ex aliquid facere!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sunt voluptates! Id non quam iusto maxime, repudiandae voluptatum incidunt hic qui unde earum placeat! Eos dolore quaerat ex aliquid facere!</p>
    </div>
  </div>
  
{% endblock %}
