<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Join up IT systems in health and social care
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v2/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item">Browse by product type</li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
  {% include "includes/prototype-banner.html" %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="question-outcome" method="POST">
        <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Which topics are you interested in?
            </h1>
          </legend>
      
          <div class="nhsuk-hint" id="contact-hint">
            Select all that apply
          </div>
      
          <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
      
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Appointment" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                Appointment / Scheduling
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-1" name="Business" type="checkbox" value="Referrals" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                Referrals
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-2" name="Business" type="checkbox" value="Access" aria-controls="conditional-contact-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
                Access to Records
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-3" name="Business" type="checkbox" value="Clinical" aria-controls="conditional-contact-3" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                Clinical Decision Support
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-4" name="Business" type="checkbox" value="Continuity" aria-controls="conditional-contact-4" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-4">
                Continuity of Care (ToC)
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-5" name="Business" type="checkbox" value="Demographics" aria-controls="conditional-contact-5" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-5">
                Demographics
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-6" name="Business" type="checkbox" value="Key" aria-controls="conditional-contact-6" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-6">
                Key Care Information
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-7" name="Business" type="checkbox" value="Medication" aria-controls="conditional-contact-7" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-7">
                Medication Management
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-8" name="Business" type="checkbox" value="Prescribing" aria-controls="conditional-contact-8" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-8">
                Prescribing
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-9" name="Business" type="checkbox" value="Dispensing" aria-controls="conditional-contact-9" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-9">
                Dispensing
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-10" name="Business" type="checkbox" value="Vaccination" aria-controls="conditional-contact-10" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-10">
                Vaccination
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-11" name="Business" type="checkbox" value="Messaging" aria-controls="conditional-contact-11" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-11">
                Messaging
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-12" name="Business" type="checkbox" value="Patient" aria-controls="conditional-contact-12" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-12">
                Patient Communication
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-13" name="Business" type="checkbox" value="Reference" aria-controls="conditional-contact-13" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-13">
                Reference Data
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-14" name="Business" type="checkbox" value="Information" aria-controls="conditional-contact-14" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-14">
                Information Governance
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-15" name="Business" type="checkbox" value="Security" aria-controls="conditional-contact-15" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-15">
                Security
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-16" name="Business" type="checkbox" value="Tests" aria-controls="conditional-contact-16" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-16">
                Tests and Diagnostics
              </label>
            </div>
           
      
          </div>
        </fieldset>
        
      </div>
      <button class="nhsuk-button">Continue</button>
    </form>
    </div>
  </div>
{% endblock %}
