<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v7.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Browse the standards directory - Standards directory
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v7/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item">Browse the directory</li>
    </ol>
  </div>
</nav> -->
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
  {% include "includes/prototype-banner.html" %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <!-- Change the page title here -->
      <h1>
        Browse the standards directory
      </h1>
      <p>Find active standards and APIs to build interoperable technology in health and social care.</p>
      {% include "includes/search.html" %}
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      {% include "includes/filters.html" %}
      <p class="nhsuk-u-font-size-16" style="text-align: right"><a href="#">Open all</a></p>
      {% include "includes/expander-care-setting.html" %}
      {% include "includes/expander-topic.html" %}
      <img class="nhsuk-image__img" src="/images/f-technical.png" alt="">
    </div>
    <div class="nhsuk-grid-column-three-quarters">
      <h3 class="nhsuk-heading-xs">Showing 43 results</h3>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">  {% include "includes/select.html" %}</div>
        <div class="nhsuk-grid-column-one-half">  {% include "includes/select-recommended.html" %}</div>
        </div>
        <!-- <a href="browse-all">submit </a> -->

      <ul class="nhsuk-list table-list">
        <li class="table-list-item">
          <a href="standard-api-mental-health">Transfer of Care Mental Health Discharge - FHIR API</a>
          <p>
          <span class="nhsuk-u-font-size-19">Create and transmit documents containing Transfer of Care information supporting a mental health discharge.</span><br><br>
          <span class="nhsuk-body-s" style="color:#4c6272;">Type: <strong class="nhsuk-tag nhsuk-tag--blue">Technical specifications and APIs</strong>&emsp;&emsp;Status: Active&emsp;&emsp;Date added: 1 Mar 2022</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">GP Connect Access Record: Structured - FHIR API</a>
          <p>
          <span class="nhsuk-u-font-size-19">Retrieve structured information from a patient’s GP practice record.</span><br><br>
          <span class="nhsuk-body-s" style="color:#4c6272;">Type: <strong class="nhsuk-tag nhsuk-tag--blue">Technical specifications and APIs</strong>&emsp;&emsp;Status: Active&emsp;&emsp;Date added: 1 Mar 2022</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Vaccination Adverse Reactions COVID-19 API</a>
          <p>
          <span class="nhsuk-u-font-size-19">Provide information to NHS Digital on adverse reactions relating to coronavirus (COVID-19) vaccinations.</span><br><br>
          <span class="nhsuk-body-s" style="color:#4c6272;">Type: <strong class="nhsuk-tag nhsuk-tag--blue">Technical specifications and APIs</strong>&emsp;&emsp;Status: Active&emsp;&emsp;Date added: 1 Mar 2022</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Vaccination Events - FHIR API</a>
          <p>
          <span class="nhsuk-u-font-size-19">Send and receive messages about changes to a patient's vaccination details.</span><br><br>
          <span class="nhsuk-body-s" style="color:#4c6272;">Type: <strong class="nhsuk-tag nhsuk-tag--blue">Technical specifications and APIs</strong>&emsp;&emsp;Status: Active&emsp;&emsp;Date added: 1 Mar 2022</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Vaccination APIs</a>
          <p>
          <span class="nhsuk-u-font-size-19">Provide information to NHS Digital relating to coronavirus (COVID-19) and seasonal flu 2020-21 vaccinations.</span><br><br>
          <span class="nhsuk-body-s" style="color:#4c6272;">Type: <strong class="nhsuk-tag nhsuk-tag--blue">Technical specifications and APIs</strong>&emsp;&emsp;Status: Active&emsp;&emsp;Date added: 11 Nov 2021</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Transfer of Care Outpatient Clinic Letter - FHIR API</a>
          <p>
          <span class="nhsuk-u-font-size-19">Create and transmit documents containing Transfer of Care information following an outpatient consultation in a clinic.</span><br><br>
          <span class="nhsuk-body-s" style="color:#4c6272;">Type: <strong class="nhsuk-tag nhsuk-tag--blue">Technical specifications and APIs</strong>&emsp;&emsp;Status: Active&emsp;&emsp;Date added: 16 Jun 2021</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Transfer of Care Mental Health Discharge - FHIR API</a>
          <p>
          <span class="nhsuk-u-font-size-19">Create and transmit documents containing Transfer of Care information supporting a mental health discharge.</span><br><br>
          <span class="nhsuk-body-s" style="color:#4c6272;">Type: <strong class="nhsuk-tag nhsuk-tag--blue">Technical specifications and APIs</strong>&emsp;&emsp;Status: Active&emsp;&emsp;Date added: 3 Feb 2021</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Transfer of Care Inpatient Discharge - FHIR API</a>
          <p>
          <span class="nhsuk-u-font-size-19">Create and transmit documents containing Transfer of Care information supporting an inpatient discharge.</span><br><br>
          <span class="nhsuk-body-s" style="color:#4c6272;">Type: <strong class="nhsuk-tag nhsuk-tag--blue">Technical specifications and APIs</strong>&emsp;&emsp;Status: Active&emsp;&emsp;Date added: 4 Jul 2020</span>
          </p>
        </li>

        <li class="table-list-item">
          <a href="standard-api-mental-health">Secure Email</a>
          <p>
          <span class="nhsuk-u-font-size-19">This information standard defines the minimum non-functional requirements for a secure email service.</span><br><br>
          <span class="nhsuk-body-s" style="color:#4c6272;">Type: <strong class="nhsuk-tag nhsuk-tag--blue">Technical specifications and APIs</strong>&emsp;&emsp;Status: Active&emsp;&emsp;Date added: 6 May 2020</span>
          </p>
        </li>


        <li class="table-list-item">
          <a href="standard-api-mental-health">Personal Demographics Service Notifications - FHIR API</a>
          <p>
          <span class="nhsuk-u-font-size-19">Receive notifications about changes to a patient's demographic details, including birth, death, change of address and change of GP.</span><br><br>
          <span class="nhsuk-body-s" style="color:#4c6272;">Type: <strong class="nhsuk-tag nhsuk-tag--blue">Technical specifications and APIs</strong>&emsp;&emsp;Status: Active&emsp;&emsp;Date added: 12 Apr 2020</span>
          </p>
        </li>

      </ul>
{% include "includes/pagination.html" %}

    </div>
  </div>

  <style>
    .table-list-item {
      padding: 10px 20px 10px 0;
      border-bottom: 1px solid #bfc1c3;
    }
    .table-list-item:first-child {
      border-top: 1px solid #bfc1c3;
    }
  </style>



{% endblock %}
