<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-v7.html' %}
{% extends 'layout-home-v7.html' %}
{% extends 'template-home-v7.html' %}
<!--
In /views/layout.html you can:
- change the header and footer
- add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Home - Standards directory
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-half">
    <h2 class="nhsuk-heading-l">Browse by care setting</h2>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">
    <h4><a href="#">Hospital</a></h4>
    <p>Find information standards for a hospital care setting, including inpatient, outpatient and maternity.
</p>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h4><a href="#">GP / Primary care</a></h4>
    <p>Find information standards for a GP / Primary Care setting.
</p>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h4><a href="#">Social care</a></h4>
    <p>Find information standards for adult social care and social services, that local authorities or councils provide.
</p>
  </div>

</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <p><a href="browse-all">Browse all care settings</a></p>
  </div>
</div>
<hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
<!--  -->

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-half">
    <h2 class="nhsuk-heading-l">Browse by topic</h2>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">
    <h4><a href="#">Appointment / Scheduling</a></h4>
    <p>Find information standards relating to booking and scheduling appointments.
</p>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h4><a href="#">Access to records</a></h4>
    <p>Find information standards relating to accessing patient records.
</p>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h4><a href="#">Vaccination</a></h4>
    <p>Find information standards relating to vaccinations.</p>
  </div>

</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <p><a href="browse-all">Browse all topics</a></p>
  </div>
</div>
<hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
<!--  -->

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-half">
    <h2 class="nhsuk-heading-l">Browse by type</h2>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">
    <h4><a href="#">Technical specifications and APIs</a></h4>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h4><a href="#">Clinical and care record standards</a></h4>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h4><a href="#">Medical and data dictionaries</a></h4>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <p><a href="browse-all">Browse all standard types</a></p>
  </div>
</div>

<hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
<!--  -->
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-third">
    <h2 class="nhsuk-heading-l">Standards roadmap</h2>
    <p>Stay up to date with upcoming standards that are being proposed or drafted by standard development bodies.</p>
    <p><a href="community-roadmap">Search the roadmap</a></p>
  </div>

  <div class="nhsuk-grid-column-one-third">
    <h2 class="nhsuk-heading-l">Guidance</h2>
    <p>Find out more about information standards and interoperability.</p>
    <p><a href="what">Learn more</a></p>
  </div>

  <div class="nhsuk-grid-column-one-third">
    <h2 class="nhsuk-heading-l">Community</h2>
    <p>Connect with other health and social care professionals and share knowledge and best practice.</p>
    <p><a href="#">Join the community</a></p>
  </div>


</div>
<!--  -->

{% endblock %}
