<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Browse terminologies and codes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v1/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/browse-sections">Browse tools</a></li>
      <li class="nhsuk-breadcrumb__item">Terminologies and codes</li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
  {% include "includes/prototype-banner.html" %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- Change the page title here -->
      <h1>
        Browse terminologies and codes
      </h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ipsum, assumenda temporibus, autem aperiam suscipit non, eum voluptatum reiciendis sequi libero sint unde exercitationem delectus esse eligendi maxime asperiores accusamus.</p>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      {% include "includes/filters.html" %}
{% include "includes/filters-search.html" %}
{% include "includes/filters-business.html" %}
    </div>
    <div class="nhsuk-grid-column-three-quarters">
      <ul class="nhsuk-list table-list">
        <li class="table-list-item">
          <a href="standard-snomed">International statistical classification of disease and health related problems (ICD) 5th Edition</a>
          <p>
          <span class="nhsuk-body">ICD-10, Edition is the current, approved standard for use in England. ICD permits the systematic analysis, interpretation and comparison of morbidity data collected in different areas. The specified purpose of the ICD-10 is to provide a means of classifying diagnoses and is defined as a system of categories to which morbid entries are assigned according to established criteria.</span><br>
          <span class="nhsuk-body">Metadata 1: Example &ensp; Metadata 2: Example</span>
          </p>
          
        </li>
        <li class="table-list-item">
          <a href="standard-snomed">OPCS Classifications of interventions and preventions</a>
          <p>
          <span class="nhsuk-body">OPCS is an NHS Information Standard that supports various data collections, such as Central Returns and Commissioning Data Sets, as well as other secondary uses of information that are essential to planning and improving health care. The current, approved standard for use in England is OPCS-4.8</span><br>
          <span class="nhsuk-body">Metadata 1: Example &ensp; Metadata 2: Example</span>
          </p>
          
        </li>
        <li class="table-list-item">
          <a href="standard-snomed">SNOMED CT</a>
          <p>
          <span class="nhsuk-body">SNOMED CT is now the internationally pre-eminent comprehensive terminology for medicine. It is funded and managed by 34 subscribing countries and it offers more than 960,000 terms for over 360,000 different clinical notions covering:</span><br>
          <span class="nhsuk-body">Metadata 1: Example &ensp; Metadata 2: Example</span>
          </p>
          
        </li>
        <li class="table-list-item">
          <a href="standard-snomed">Dictionary of medicines and devices (dm+d)</a>
          <p>
          <span class="nhsuk-body">dm+d provides a consistent description of medicines and medical devices, essential to ensure patient safety.  dm+d is already an integral part of the electronic prescription service (EPS) and is currently being deployed in secondary care settings where it’s playing a key role in medicines management.</span><br>
          <span class="nhsuk-body">Metadata 1: Example &ensp; Metadata 2: Example</span>
          </p>
        </li>          
      </ul>
    </div>
  </div>
  
  <style>
    .table-list-item {
      padding: 10px 20px 10px 0;
      border-bottom: 1px solid #bfc1c3;
    }
    .table-list-item:first-child {
      border-top: 1px solid #bfc1c3; 
    }
  </style>
{% endblock %}
