<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-home.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Join up IT systems in health and social care
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2 class="nhsuk-u-font-size-24 nhsuk-u-font-weight-bold">Guidance</h2>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="why">Why join up systems</a></span>
          <p class="nhsuk-u-font-size-16">Understand the benefits to people who give and receive care</p>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="how-it-works">Get started</a></span>
          <p class="nhsuk-u-font-size-16">Check the process for connecting to other systems</p>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="browse-case-studies">Case studies</a></span>
          <p class="nhsuk-u-font-size-16">See how open standards are solving problems in the NHS</p>
        </div>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h2 class="nhsuk-u-font-size-24 nhsuk-u-font-weight-bold">Tools</h2>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="browse-sections">Browse all tools</a></span>
          <p class="nhsuk-u-font-size-16">Explore all standards, APIs and NHS services</p>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="question-setting">Browse by product type</a></span>
          <p class="nhsuk-u-font-size-16">Find tools for your specific service or product</p>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="browse-use-cases">Common use cases</a></span>
          <p class="nhsuk-u-font-size-16">Find tools related to common use cases</p>
        </div>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h2 class="nhsuk-u-font-size-24 nhsuk-u-font-weight-bold">Contribute</h2>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="#">Submit case study</a></span>
          <p class="nhsuk-u-font-size-16">Share details of your work to help others</p>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="#">Submit tool</a></span>
          <p class="nhsuk-u-font-size-16">Recommend a new API or open standard</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
