<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Join up IT systems in health and social care
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v1/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item">Browse by product type</li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
  {% include "includes/prototype-banner.html" %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="question-business" method="POST">
        <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Which care settings are you interested in?
            </h1>
          </legend>
      
          <div class="nhsuk-hint" id="contact-hint">
            Select all that apply
          </div>
      
          <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
      
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Community" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                Community health
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-2" name="setting" type="checkbox" value="Dentistry" aria-controls="conditional-contact-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
                Dentistry
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-3" name="setting" type="checkbox" value="Hospital" aria-controls="conditional-contact-3" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                Hospital
              </label>
            </div>
            
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-4" name="setting" type="checkbox" value="A" aria-controls="conditional-contact-4" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-4">
                A&E / Emergency Department
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-5" name="setting" type="checkbox" value="Inpatient" aria-controls="conditional-contact-5" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-5">
                Inpatient
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-6" name="setting" type="checkbox" value="Outpatient" aria-controls="conditional-contact-6" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-6">
                Outpatient
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-7" name="setting" type="checkbox" value="Maternity" aria-controls="conditional-contact-7" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-7">
                Maternity
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-8" name="setting" type="checkbox" value="Mental" aria-controls="conditional-contact-8" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-8">
                Mental Health
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-9" name="setting" type="checkbox" value="Patient" aria-controls="conditional-contact-9" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-9">
                Patient / Citizen
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-10" name="setting" type="checkbox" value="Pharmacy" aria-controls="conditional-contact-10" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-10">
                Pharmacy
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="GP" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                GP / Primary Care
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Transport" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                Transport / Infrastructure
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Social" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                Social Care
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Urgent" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                Urgent And Emergency Care
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="Ambulance" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                Ambulance
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="NHS" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                NHS 111
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="A" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                A&E / Emergency Department
              </label>
            </div>
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="contact-1" name="setting" type="checkbox" value="OOH" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                Out of hours GP
              </label>
            </div>
      
          </div>
        </fieldset>
        
      </div>
      <button class="nhsuk-button">Continue</button>
    </form>
    </div>
  </div>
{% endblock %}
