<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Browse directory
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v3/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item">Browse directory</li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
  {% include "includes/prototype-banner.html" %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Browse directory
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <!-- <p class="nhsuk-lede-text">
        Blurb about what this website is about
      </p> -->

      <p>Find standards and other resources to build compatible software in health and social care. </p>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-s"><a href="browse-information">Content standards</a></h2>
      <p class="nhsuk-body-s">Find standardised care records, clinical codes and data elements to collect, process and share information consistently.</p>
    </div>
    <!-- <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-s"><a href="browse-terminology">Terminology standards</a></h2>
      <p class="nhsuk-body-s">Find vocabularies to accurately code and communicate clinical terms.</p>
    </div>  -->
    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-s"><a href="browse-technical">Technical standards</a></h2>
      <p class="nhsuk-body-s">Find specifications and APIs to exchange information consistently with other technology products and services.</p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-s"><a href="browse-security">Security standards</a></h2>
      <p class="nhsuk-body-s">Find legal requirements for holding, processing and sharing data in the health and social care sector. </p>
    </div> 
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-s"><a href="browse-services">Services</a></h2>
      <p class="nhsuk-body-s">Find and connect to national services like the national database of NHS patients, NHS email and wifi.</p>
    </div>
    <!-- <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-s"><a href="browse-services">Policy and national guidelines</a></h2>
      <p class="nhsuk-body-s">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
   -->
  </div>
{% endblock %}
