<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Browse technical specifications
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/browse-sections">Standards and formats</a></li>
      <li class="nhsuk-breadcrumb__item">Technical specifications</li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- Change the page title here -->
      <h1>
        Browse technical specifications
      </h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ipsum, assumenda temporibus, autem aperiam suscipit non, eum voluptatum reiciendis sequi libero sint unde exercitationem delectus esse eligendi maxime asperiores accusamus.</p>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      {% include "includes/filters.html" %}
    </div>
    <div class="nhsuk-grid-column-three-quarters">
      <ul class="nhsuk-list table-list">
        <li class="table-list-item">
          <a href="standard-example">Alerts - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Stable</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Ambulance Analytics - FHIR API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Private beta</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Assessment Discharge and Withdrawal API standards</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: -</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Clinical Decision Support API standards</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Alpha</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Data Registers Service - REST API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Public beta</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Digital Medicine API standards</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Private Beta</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Directory of Services - REST API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Stable</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Directory of Services - SOAP API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Stable</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Discharge - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Stable</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Electronic Prescription Service - FHIR API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Alpha</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Electronic Prescription Service - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Stable</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Electronic Prescription Service Tracker - REST API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Alpha</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Emergency Department - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Stable</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">End of Life API standards</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Apha</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">e-Referral Service - FHIR API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Stable</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">e-Referral Service - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Stable</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">GP2GP - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Stable</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">GP Connect - FHIR APIs</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Stable</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Legitimate Relationship Service - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Stable</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Message Exchange for Social Care and Health (MESH) API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Stable</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">NHS 111 API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Stable</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">NHS Identity API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: -</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">NHS login API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: -</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Outpatients - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Stable</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Pathology API standards</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Experimental</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Reasonable Adjustment Flag - FHIR API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Alpha</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Summary Care Record - FHIR API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Alpha</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Summary Care Record - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: Stable</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Transfer of Care API standards</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: 2.7.0</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-example">Vaccination API standards</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body">API status: -</span>
          </p>
        </li>
        
      </ul>
    </div>
  </div>
  
  <style>
    .table-list-item {
      padding: 10px 20px 10px 0;
      border-bottom: 1px solid #bfc1c3;
    }
    .table-list-item:first-child {
      border-top: 1px solid #bfc1c3; 
    }
  </style>
{% endblock %}
