<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Browse technical specifications
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/browse-sections">Browse tools</a></li>
      <li class="nhsuk-breadcrumb__item">Technical specifications</li>
    </ol>
  </div>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- Change the page title here -->
      <h1>
        Browse technical specifications
      </h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ipsum, assumenda temporibus, autem aperiam suscipit non, eum voluptatum reiciendis sequi libero sint unde exercitationem delectus esse eligendi maxime asperiores accusamus.</p>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      {% include "includes/filters.html" %}
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Filter by API status
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
              <label class="nhsuk-label" for="example">
                Status
              </label>
              <div class="nhsuk-checkboxes">
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                    Alpha
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                    Private beta
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    Public beta
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    Stable
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    Experimental
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </details>
    </div>
    <div class="nhsuk-grid-column-three-quarters">
      <ul class="nhsuk-list table-list">
        <li class="table-list-item">
          <a href="standard-api-mental-health">Alerts - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Send an alert to a Privacy Officer so they can audit whether access to a patient’s data was appropriate.</span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Ambulance Analytics - FHIR API</a>
          <p>
          <span class="nhsuk-body">Submit ambulance analytics data to our Data Processing Service (DPS) for analysis and review by NHS England and ambulance trusts.</span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag nhsuk-tag--orange">Private beta</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Assessment Discharge and Withdrawal API standards</a>
          <p>
          <span class="nhsuk-body">Support transfer of care from hospital to social services for patients with care and support needs.</span><br>
          <span class="nhsuk-body-s">API status: -</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Clinical Decision Support API standards</a>
          <p>
          <span class="nhsuk-body">API standards to support the triage and onward referral of patients who are interacting with Urgent and Emergency Care services, such as NHS 111.</span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag nhsuk-tag--pink">Alpha</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Data Registers Service - REST API</a>
          <p>
          <span class="nhsuk-body">Access a wide range of live lists of lookup data with our Data Registers Service.
          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag nhsuk-tag--orange">Public beta</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Digital Medicine API standards</a>
          <p>
          <span class="nhsuk-body">Notify a patient's registered GP practice of care services provided by a pharmacy, such as immunisation.
          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag nhsuk-tag--orange">Private beta</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Directory of Services - REST API</a>
          <p>
          <span class="nhsuk-body">Access information on a wide range of health and care services across England using our Directory of Services REST API.
          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Directory of Services - SOAP API</a>
          <p>
          <span class="nhsuk-body">Access information on a wide range of health and care services across England using our Directory of Services SOAP API.
          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Discharge - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Send a discharge report following transfer of responsibility for a patient.
          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Dose Syntax API standards</a>
          <p>
          <span class="nhsuk-body">API standards to provide a structured way to record dosage instructions between primary and secondary care settings.
          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Electronic Prescription Service - FHIR API</a>
          <p>
          <span class="nhsuk-body">Access the Electronic Prescription Service (EPS) - the national service used to send electronic prescriptions from GP surgeries to pharmacies.</span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag nhsuk-tag--pink">Alpha</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Electronic Prescription Service - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Access the Electronic Prescription Service (EPS) to send prescriptions from prescribers such as GPs to dispensers such as pharmacies using our HL7 V3 API.</span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Electronic Prescription Service Tracker - REST API</a>
          <p>
          <span class="nhsuk-body">Track a patient’s prescriptions within the Electronic Prescription Service (EPS).</span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag nhsuk-tag--pink">Alpha</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Emergency Department - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">End of Life API standards</a>
          <p>
          <span class="nhsuk-body">API standards to enable sharing and updating of digital end of life care (EoLC) records.
          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Apha</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">e-Referral Service - FHIR API</a>
          <p>
          <span class="nhsuk-body">Create paperless referrals from primary to secondary care using the e-Referral Service (e-RS) FHIR API.
          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">e-Referral Service - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Create paperless referrals or manage appointment slots in secondary care using the e-Referral Service (e-RS) HL7 V3 API.

          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">GP2GP - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Transfer patients' electronic health records, securely and quickly, between their old and new practices when they change GPs.</span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">GP Connect - FHIR APIs</a>
          <p>
          <span class="nhsuk-body">Transfer patients' electronic health records, securely and quickly, between their old and new practices when they change GPs.</span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Legitimate Relationship Service - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Access patients' Legitimate Relationships (LR) using our HL7 V3 API.
          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Message Exchange for Social Care and Health (MESH) API</a>
          <p>
          <span class="nhsuk-body">The Message Exchange for Social Care and Health (MESH) is the main secure large file transfer service used across health and social care organisations.
          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">NHS 111 API</a>
          <p>
          <span class="nhsuk-body">Share information between NHS 111 and other organisations, such as GPs and ambulance services, and query the Repeat Caller Service.

          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">NHS Identity API</a>
          <p>
          <span class="nhsuk-body">Verify the identity of health and care professionals in England, such as NHS staff, when they access national clinical information systems.
          </span><br>
          <span class="nhsuk-body-s">API status: -</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">NHS login API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body-s">API status: -</span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Outpatients - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Access an outpatient report.
          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Pathology API standards</a>
          <p>
          <span class="nhsuk-body">Share pathology results in NHS primary and secondary care settings.
          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Experimental</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Reasonable Adjustment Flag - FHIR API</a>
          <p>
          <span class="nhsuk-body">Access the Reasonable Adjustment Flag - a national record which indicates that a patient requires reasonable adjustments and includes relevant details.
          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag nhsuk-tag--pink">Alpha</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Summary Care Record - FHIR API</a>
          <p>
          <span class="nhsuk-body">Description Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag nhsuk-tag--pink">Alpha</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Summary Care Record - HL7 V3 API</a>
          <p>
          <span class="nhsuk-body">Access a patient's Summary Care Record (SCR) using our HL7 V3 API. Also previously known as PSIS query and GP summary.

          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Transfer of Care API standards</a>
          <p>
          <span class="nhsuk-body">Create and transmit documents containing Transfer of Care information supporting an inpatient discharge.
          </span><br>
          <span class="nhsuk-body-s">API status: <strong class="nhsuk-tag">Stable</strong></span>
          </p>
        </li>
        <li class="table-list-item">
          <a href="standard-api-mental-health">Vaccination API standards</a>
          <p>
          <span class="nhsuk-body">Provide information to NHS Digital relating to coronavirus (COVID-19) and seasonal flu 2020-21 vaccinations.

          </span><br>
          <span class="nhsuk-body-s">API status: -</span>
          </p>
        </li>
        
      </ul>
    </div>
  </div>
  
  <style>
    .table-list-item {
      padding: 10px 20px 10px 0;
      border-bottom: 1px solid #bfc1c3;
    }
    .table-list-item:first-child {
      border-top: 1px solid #bfc1c3; 
    }
  </style>
{% endblock %}
