<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Join up IT systems in health and social care
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Join up IT systems in health and social care
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        Find and share open standards and tools to support joined up systems in the NHS.
      </p>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="example">
          Search
        </label>
        <input class="nhsuk-input" id="example" name="example" type="text">
        <button style="height: 40px; background-color: black;display: inline-block;position: absolute; border: solid 3px black;"><span class="hod-search side-space icon-small" style="color: white;">Submit</span></button>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2 class="nhsuk-heading-m">Guidance</h2>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="why">Why join up</a></span>
      <p class="nhsuk-u-font-size-16">Understand the benefits to people who give and receive care</p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="how-it-works">How it works</a></span>
      <p class="nhsuk-u-font-size-16">Check the process for connecting to other systems</p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="browse-case-studies">Case studies</a></span>
      <p class="nhsuk-u-font-size-16">See how open standards are solving problems in the NHS</p>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2 class="nhsuk-heading-m">Tools</h2>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="browse-sections">Browse all tools</a></span>
      <p class="nhsuk-u-font-size-16">Explore all standards, applications and NHS services</p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="question-setting">Browse by product</a></span>
      <p class="nhsuk-u-font-size-16">Find tools for your specific service or product</p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="#">Common use cases</a></span>
      <p class="nhsuk-u-font-size-16">Find tools related to common use cases</p>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2 class="nhsuk-heading-m">Contribute</h2>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="#">Submit case study</a></span>
      <p class="nhsuk-u-font-size-16">Share details of your work to help others</p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold"><a href="#">Submit tool</a></span>
      <p class="nhsuk-u-font-size-16">Recommend a new application or open standard</p>
    </div>
  </div>
{% endblock %}
