<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Prototypes for joining up IT systems in health and social care 
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        Prototypes for joining up IT systems in health and social care 
      </h1>
      <p>This is a collection of prototypes for the interoperability standards catalogue Alpha.</p>
      

      <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold">Round 4 - Final alpha iteration</span>
      <span class="nhsuk-caption-m"></span>
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Version notes
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>XXX</p>
        </div>
      </details>
      <p><a href="v4/home">Link to round 4 prototype</a></p>
      
      <hr>
      
      <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold">Round 3 - 26th to 27th April 2021</span>
      <span class="nhsuk-caption-m"></span>
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Version notes
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Changes include:</p>
          <ul class="nhs-list nhs-list-bullet">
            <li>Updating the hopepage header content</li>
            <li>Changing the 'Capabilities' filter label to 'Topics'</li>
          </ul>
        </div>
      </details>
      <p><a href="v3/home">Link to round 3 prototype</a></p>
      
      <hr>

      <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold">Round 2 - 22nd to 23rd April 2021</span>
      <span class="nhsuk-caption-m"></span>
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Version notes
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>XXX</p>
        </div>
      </details>
      <p><a href="v2/home">Link to round 2 prototype</a></p>
      <hr>
      
      <span class="nhsuk-u-font-size-19 nhsuk-u-font-weight-bold">Round 1 - 14th to 16th April 2021</span>
      <span class="nhsuk-caption-m"></span>
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Version notes
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Initial prototype developed to explore:</p>
          <ul class="nhs-list nhs-list-bullet">
            <li>High level guidance</li>
            <li>Navigation based on browsing standards by standard type</li>
            <li>Navigation based on the users service type</li>
            <li>Navigation based on service use cases</li>
            <li>Page and information formats for information and terminology standards</li>
          </ul>
        </div>
      </details>
      <p><a href="v1/home">Link to round 1 prototype</a></p>
    </div>
  </div>
  {% endblock %}
